<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="apiUrl" value="http://localhost:5266" />
	<add key="debugLoginEnabled" value="false" /> <!--Если включено - форма логина пропускается, и используется указанный логин/пароль-->
    <add key="debugLoginUsername" value="" />
    <add key="debugLoginPassword" value="" />
  </appSettings>
</configuration>
