<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn">
  <variable name="logLayout" value="${longdate}|${uppercase:${level}}|${logger}|${message}${exception:format=ToString}" />

  <targets>
    <target xsi:type="File" name="orderBlFile"
            fileName="${basedir}/Logs/order-bl.log"
            layout="${logLayout}"
            createDirs="true" />
    <target xsi:type="File" name="customerBlFile"
            fileName="${basedir}/Logs/customer-bl.log"
            layout="${logLayout}"
            createDirs="true" />
    <target xsi:type="File" name="userBlFile"
            fileName="${basedir}/Logs/user-bl.log"
            layout="${logLayout}"
            createDirs="true" />
    <target xsi:type="File" name="applicationFile"
            fileName="${basedir}/Logs/application.log"
            layout="${logLayout}"
            createDirs="true" />
  </targets>

  <rules>
    <logger name="Microsoft.*" final="true" />
    <logger name="System.*" final="true" />

    <logger name="Finsight.Core.Bl.Implementation.OrderBl" minlevel="Info" writeTo="orderBlFile" final="true" />
    <logger name="Finsight.Core.Bl.Implementation.CustomerBl" minlevel="Info" writeTo="customerBlFile" final="true" />
    <logger name="Finsight.Core.Bl.Implementation.UserBl" minlevel="Info" writeTo="userBlFile" final="true" />

    <logger name="Finsight.*" minlevel="Info" writeTo="applicationFile" />
  </rules>
</nlog>
